<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
	<testsuites>
		<testsuite name="TurboSlim Unit Tests">
			<directory suffix="Test.php">tests/TurboSlim</directory>
		</testsuite>

		<testsuite name="Slim Test Suite">
			<directory suffix="Test.php">tests/Slim</directory>
		</testsuite>

		<testsuite name="Slim Bugs">
			<directory suffix="Test.php">tests/SlimBugs</directory>
		</testsuite>

		<testsuite name="PHPT Test Suite">
			<directory suffix=".phpt">tests/phpt</directory>
		</testsuite>
	</testsuites>

	<listeners>
		<listener class="LCovTestListener" file="./tests/LCovTestListener.php"/>
	</listeners>
</phpunit>
